
<ul>
    <% @bookmarks.each do |bookmark| %>
        <li>
          <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
          </a>
        </li>
    <% end %>
</ul>

<form action="/add-bookmark">
  <input type="submit" value="Add Bookmark">
</form>

<form action="/update-bookmark-title">
  <input type="submit" value="Update Bookmark Title">
</form>

<form action="/update-bookmark-url">
  <input type="submit" value="Update Bookmark URL">
</form>

<form action="/delete-bookmark" method="post">
  <label for="title">
    TITLE:
    <input type="text" name="title">
  </label>
  <input type="submit" value="Delete">
</form>
